@charset "UTF-8";

#modal{
	display: none;
	position : absolute;
	width: 75%;
	height: 100%;
	z-index: 1;
}

#modal2 {
	display: none;
	position : fixed;
	top:100px;
	width: 55%;
	height: 100%;
	z-index: 1;
}

#modal3 {
	display: none;
	position : fixed;
	top:100px;
	width: 75%;
	height: 100%;
	z-index: 1;
}

#modal h2, #modal2 h2, #modal3 h2 {
	margin: 0;
}
#closeBtn{
	background: #DDD;
	width:5%;
	height:20px;
	border:none;
}
#modal .modal_content, #modal2 .modal_content, #modal3 .modal_content {
	width: 100%;
	margin: auto;
	padding: 20px 10px;
	background: #fff;
	border: 2px solid #666;
	border-radius: 10px;
}

#modal .modal_layer, #modal2 .modal_layer, #modal3 .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
