@charset "UTF-8";
   section{
       width: 100%;
       padding: 20px 0;
   }
   
   .main_wrapper{
       width: 1200px;
       margin: auto;
   }


h3{
	letter-spacing: 3px;
}
input, select{
	height: 40px;
	border-radius: 7px;
	border: 2px solid #dddddd;
	outline: none;
	padding-left: 10px;
	font-size: 13px;
	transition:.3s;
}

input::placeholder, select::placeholder{
	letter-spacing: 0.5px;
	font-weight: bold;
}


input:focus, select:focus{ 
	outline:none;  /* 테두리 없애기 */
	border-color:dodgerBlue;
	box-shadow:0 0 8px 0 dodgetBlue;
} 



.insert_emp{
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	letter-spacing: 3px;
}
.content{
	margin-bottom: 30px;
}



/* 1번째 라인*/
.first_line{
	display: flex;
	margin-top: 35px;
	margin-bottom: 10px;
}


/* 2번째 라인*/
.second_line input{
	margin-bottom: 7px;
}
.second_line p{
	color: red;
}
[name=nowPass]{
	width: 100%;
}
[name=ename]{
	width: 100%;
}



/* 3번째 라인*/
.third_line{
	display: flex;
	margin-top: 30px;
	margin-bottom: 10px;
}


/* 4번째 라인*/
.fourth_line input{
	margin-bottom: 7px;
}
.fourth_line p{
	color: red;
}
[name=pass]{
	width: 100%;
}


/* 5번째 라인*/
.fifth_line{
	display: flex;
	margin-top: 30px;
	margin-bottom: 10px;
}


/* 6번째 라인*/
.sixth_line input{
	margin-bottom: 7px;
}
.sixth_line p{
	color: red;
}
[name=passChk]{
	width: 100%;
}
[name=dname]{
	width: 100%;
}

.isPass{
	border: 2px solid dodgerBlue !important;
}
.isNotPass{
	border: 2px solid red !important;
}
p{
	color: red;
}




/* 등록 라인 */
.submit_line{
	margin-top: 40px;
	margin-bottom: 40px;
	float: right;
}
.submit_line > .insBtn{
    width: 90px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: rgb(52, 152, 219);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
.submit_line > .uptBtn{
    width: 90px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: #6c757d;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border: none;
}






