<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ferp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- 
  	1. front controller를 위한 선언
  	2. url 마지막에 @@.do로 끝나야지 스프링 컨테이너를 호출하여 처리되게 함.
  -->
  <!-- 
  	url패턴 확인
  	1. 마지막에 *.do로 끝나면 dispatcher 서블릿을 호출
  	2. dispatcher : front-controller인 스프링의 DispatcherServlet을 로딩
  	3. DispatcherServlet 객체는 컨테이너 설정을 포함하여 가지고 있는데,
  	4. 이 컨테이너 설정 위치가 default WEB-INF하위에 dispatcher-servlet.xml로
  	5. XXXX-servlet.xml에서 XXXX은 <servlet-name>dispatcher</servlet-name>에 의해 설정되어
  	6. 컨테이너를 호출하고,
  	7. 컨테이너에 선언되어 있는 객체들을 메모리에 로딩한다.
  		<bean class="springweb.a01_start.A01_Controller"></bean>
  -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- 
  	요청값에 대한 한글 encoding 위한 filtering 선언
  -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/errorPage/errorpage404.html</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/errorPage/errorpage500.html</location>
  </error-page>
  	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/errorPage/errorpageException.html</location>
	</error-page>
</web-app>